.navigation-bar {
  width: 100%;
  height: 75px;
  background-color: #000;
  .navigation-logo {
    cursor: pointer;
    float: left;
    img {
      height: 48px;
      margin: 10px 0px 0px 5vw;
    }
  }

  #navigation-menu {
    width: 30vw;
    margin: 16px 5vw 12px 12px;

    float: right;
    background-color: transparent;
    border-bottom-style: none;

    .ant-menu-item {
      margin: 0px auto;
      color: #3bffff !important;
      text-shadow: 2px 2px #ff44c0;
      font-size: 19px;
      font-weight: 300;
      text-align: left;
    }
    .ant-menu-item-selected {
      color: #3bffff;
      font-weight: 500;
      text-shadow: 2px 2px #ff44c0;
    }
    .ant-menu-item:hover {
      .ant-menu-title-content {
        color: #ff44c0;
        text-shadow: 2px 2px #3bffff;
      }
    }
    .ant-menu-item::after {
      border-style: none;
    }
    .ant-menu-overflow-item-rest {
      color: #3bffff;
    }
  }
}
